body {
    font-family: Arial, sans-serif;
    background-image: url(../img/background/logi.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 { 
    text-align: center; 
    color: #fff; 
    margin-bottom: 25px;
    margin-top: 6px;
    font-size: 30px;
}

div {
    margin-left:55%;
    background: rgb(20,22,30);
    background: linear-gradient(262deg, rgba(20,22,30,1) 0%, rgba(35,43,97,1) 50%);
    padding: 70px 70px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 10);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

input[type="text"], input[type="password"] {
    background-color: transparent; /* Fondo transparente */  
    border: none; /* Elimina el borde predeterminado */  
    border-bottom: 2px solid #ffffff; /* Añade solo el borde inferior */  
    outline: none; /* Elimina el borde al enfocar */  
    font-size: 16px;  
    font-family: sans-serif;  
    color: #ffffff; /* Color del texto */  
    width: 200px; /* Ancho deseado */  
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 100%;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5d51cf   ;
}

.text-olvidar a{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.text-olvidar a:hover{
    color: #000000;
}

.btn-button {
    margin-top: 8px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    color: #000;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.btn-button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btn-button:hover {
    background-color: #5d51cf;
}