<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Y Solicitudes</title>
    <link rel="stylesheet" href="../Public/css/func_mainn.css">
</head>
<body>
<section class="cont-func">
    <div class="contenedor">
        <h2 class="titulo">Consultas Y Solicitudes</h2>
        <div class="galeria-port">
           
                        <a class='imagen-port' href='./const_trabajo.html'>
                            <img src='../Public/img/new_icons/const_on.png'>
                            <div class='hover-galeria'>
                                <img src='../Public/img/new_icons/const_off.png'>
                            </div>
                        </a>
                    
                    <a class='imagen-port' href='prestaciones/soli_credencial_Prest.php'>
                        <img src='../Public/img/new_icons/bnc_on.png'>
                        <div class='hover-galeria'>
                            <img src='../Public/img/new_icons/bnc_off.png'>
                        </div>
                    </a>
                
                    <a class='imagen-port' href='caja_ahorro/soli_credencial_caja.php'>
                        <img src='../Public/img/new_icons/ahorro_on.png'>
                        <div class='hover-galeria'>
                            <img src='../Public/img/new_icons/ahorro_off.png'>
                        </div>
                    </a>
                  
                    <a class='imagen-port' href='./vacaciones.html'>
                        <img src='../Public/img/new_icons/vaca_on.png'>
                        <div class='hover-galeria'>
                            <img src='../Public/img/new_icons/vaca_off.png'>
                        </div>
                    </a>
        
                        <a class='imagen-port' href='permisos/soli_credencial_oblig.php'>
                            <img src='../Public/img/new_icons/permi_obli_on.png'>
                            <div class='hover-galeria'>
                                <img src='../Public/img/new_icons/permi_obli_off.png'>
                            </div>
                        </a>
        
                        <a class='imagen-port' href='permisos/soli_credencial_potes.php'>
                            <img src='../Public/img/new_icons/permi_pot_on.png'>
                            <div class='hover-galeria'>
                                <img src='../Public/img/new_icons/permi_pot_off.png'>
                            </div>
                        </a>

                    <a class='imagen-port' href='permisos/soli_credencial_estud.php'>
                        <img src='../Public/img/new_icons/permi_estu_on.png'>
                        <div class='hover-galeria'>
                            <img src='../Public/img/new_icons/permi_estu_off.png'>
                    </div>
                </a>        
        </div>
    </div>
</section>
</body>
</html>