<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expediente Personal</title>
    <!--===== CSS =====-->
    <link rel="stylesheet" href="../Public/css/func_mainn.css">
</head>
<body>
<!--===== ICONOS DE EXPEDIENTE PERSONAL =====-->
<section class="cont-func" id="contenido">
    <div class="contenedor">
        <h2 class="titulo">Expediente Personal</h2>
        <div class="galeria-port">
            <!--===== DATOS DEL FUNCIONARIO =====-->
            <a class="imagen-port" href="./datosPersonales.html">
                <img src="../Public/img/new_icons/datos_on.png" alt=""> 
            </a>
            
            <a class='imagen-port' href='#'>
                <img src='../Public/img/new_icons/direcc_on.png'>        
            </a>
           
            <a class='imagen-port' href='#'>
                <img src='../Public/img/new_icons/fami.on.png'>
            </a>
                
            <a class="imagen-port" href="#">
                <img src="../Public/img/new_icons/estudi_on.png" alt="">
            </a>  
          
            <a class="imagen-port" href="#">
                <img src="../Public/img/new_icons/educa_on.png" alt="">
            </a>
        </div>
    </div>
</section>
</body>
</html>